In [ ]:
#11.1
def hours():
    print('Open 9-5 daily')
    
import zoo

zoo.hours()

In [ ]:
#11.2
import zoo as menagerie

menagerie.hours()

In [4]:
#16.8
import sqlalchemy as sa
from sqlalchemy.ext.declarative import declarative_base

conn = sa.create_engine('sqlite:///mybooks.db')

Base = declarative_base()
class Book(Base):
    __tablename__ = 'mybooks'
    title = sa.Column('title', sa.String, primary_key=True)
    author = sa.Column('author', sa.String)
    year = sa.Column('year', sa.Integer)
    def __init__(self, title, author, year):
        self.title = title
        self.author = author
        self.year = year
    def __repr__(self):
        return "<Book({}, {}, {})>".format(self.title, self.author,
           self.year)

Base.metadata.create_all(conn)

first = Book('Harry Potter', "JK Rowling", 2002)
second = Book('Mocking Jay', 'Suzanne Collins', 2002)
third = Book('Dracula', "Bram Stoker", 1897)

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=conn)
session = Session()


rows = conn.execute('SELECT title FROM mybooks')
    
for row in rows:
    print(row)

('Dracula',)
('Harry Potter',)
('Mocking Jay',)